APP_ENV=dev
APP_SECRET=8006320ae1f01ffd54efba9604562ca1
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8&charset=utf8mb4"
DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=15&charset=utf8"
ADMIN_EMAIL="admin@mywebsite.com"
ADMIN_PASSWORD="test"
